
services:
  app:
    build:
      dockerfile: ./Dockerfile
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
  redis:
    image: redis:5
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/var/lib/redis/data
  postgres:
    image: postgres:16.0
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data


volumes:
  db-data:
  redis-data:

